<!--dashboard resourcesDetail.ejs-->
<!--Display detail of the single recource and create new resource-->
<% include ../partials/header.ejs %>
<% include ../partials/navigationBar.ejs %> 
<!-- Body Container -->

<div class="container">
    <div class="row">
            <h1><%= title %></h1>
            <div class="col-md-7">

            <form method="post">
                <div class="form-group">
                    <label for="TopicTextField">Title:</label>
                    <input Name="topic" type="text" class="form-control" id="TopicTextField" 
                            placeholder="标题" value="<%= resource.topic %>" required>
                </div>
                <div class="form-group">
                    <label for="PositionTextField">Publisher:</label>
                    <input Name="publisher" type="text" class="form-control" id="PositionTextField" 
                            placeholder="发布者" value="<%= resource.publisher %>" required>
                </div>
                <p hidden id="hiddenDate"><%= resource.publishDate %></p>
                <div class="form-group">
                <label class="label_Styling" for="NameTextField">Publish Date：</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="publishDate" id="uploadTime" value="" required placeholder="上传时间"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                 </div>


                <div class="form-group">
                    <label for="CompanyTextField">Host:</label>
                    <input Name="host" type="text" class="form-control" id="CompanyTextField"
                             placeholder="演讲人" value="<%= resource.host %>" required>
                </div>
                <div class="form-group">
                    <label for="CategoryTextField">Category One :</label>
                    <select class="form-control" id="CategoryOneTextField" name="categoryOne" required>
                                <option <% if(resource.categoryOne === 'ru') { %> selected="selected" <% } %> value="ru">儒家</option>
                                <option <% if(resource.categoryOne === 'shi') { %> selected="selected" <% } %> value="shi">释家</option>
                                <option <% if(resource.categoryOne === 'dao') { %> selected="selected" <% } %> value="dao">道家</option>
                                <option <% if(resource.categoryOne === 'jingkong') { %> selected="selected" <% } %> value="jingkong">净空法师</option>
                                <option <% if(resource.categoryOne === 'nan') { %> selected="selected" <% } %> value="nan">南怀瑾老师</option>                                
                    </select>
                </div>
                <div class="form-group">
                    <label for="CategoryTwoTextField">Category Two:</label>
                    <input Name="categoryTwo" type="text" class="form-control" id="CategoryTwoTextField" 
                            placeholder="类别二" value="<%= resource.categoryTwo %>">
                </div>

                <div class="form-group">
                    <label for="languageTextField">Language:</label>
                          <select class="form-control" id="languageTextField" name="language" required>
                                <option <% if(resource.language === 'man') { %> selected="selected" <% } %> value="man">国语</option>
                                <option <% if(resource.language === 'can') { %> selected="selected" <% } %> value="can">粤语</option>
                                <option <% if(resource.language === 'eng') { %> selected="selected" <% } %> value="eng">英语</option>
                           </select>
                </div>

                <div class="form-group">
                    <label for="imageUrlTextField">Image:</label>
                    <input Name="imageUrl" type="text" class="form-control" id="imageUrlTextField" 
                            placeholder="图片" value="<%= resource.imageUrl %>">
                </div>

                <div class="form-group">
                    <label for="introductionTextField">Introduction:</label>
                    <textarea Name="introduction" class="form-control" id="introductionTextField" 
                            placeholder="详细介绍" value="<%= resource.introduction %>" required><%= resource.introduction %></textarea>
                </div>

                <div class="form-group">
                    <label for="optionalUrlTextField">Optional Url:</label>
                    <input Name="optionalUrl" type="text" class="form-control" id="imageUrlTextField" 
                            placeholder="相关链接" value="<%= resource.optionalUrl %>">
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label for="promoCheckbox">
                        <input type="checkbox" Name="promo" <%= resource.promo === true ? "checked" : "" %> id="promoCheckbox" value="true"> 推广
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="/dashboard" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
            </div>
    </div>
</div>

<!-- Body Container End-->
<% include ../partials/footer.ejs %>