<!--dashboard resourcesDetail.ejs-->
<!--Display detail of the single recource and create new resource-->
<% include ../partials/header.ejs %>
<% include ../partials/navigationBar.ejs %> 
<!-- Body Container -->

<div class="container">
    <div class="row">
            <h1><%= title %></h1>
            <div class="col-md-7">

            <form method="post">
                <div class="form-group">
                    <label for="TopicTextField">Title:</label>
                    <input Name="topic" type="text" class="form-control" id="TopicTextField" 
                            placeholder="标题" value="<%= resource.topic %>" required>
                </div>
                <div class="form-group">
                    <label for="PositionTextField">Publisher:</label>
                    <input Name="publisher" type="text" class="form-control" id="PositionTextField" 
                            placeholder="发布者" value="<%= resource.publisher %>" required>
                </div>

                <div class="form-group">
                <label class="label_Styling" for="NameTextField">Publish Date：</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="publishDate" id="uploadTime" value="<%= resource.publishDate %>" required placeholder="<%= resource.publishDate %>"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                 </div>


                <div class="form-group">
                    <label for="CompanyTextField">Host:</label>
                    <input Name="host" type="text" class="form-control" id="CompanyTextField"
                             placeholder="演讲人" value="<%= resource.host %>" required>
                </div>
                <div class="form-group">
                    <label for="CategoryTextField">Category One :</label>
                    <input Name="categoryOne" type="text" class="form-control" id="CategoryOneTextField" 
                            placeholder="类别一" value="<%= resource.categoryOne %>" required>
                </div>
                <div class="form-group">
                    <label for="CategoryTwoTextField">Category Two:</label>
                    <input Name="categoryTwo" type="text" class="form-control" id="CategoryTwoTextField" 
                            placeholder="类别二" value="<%= resource.categoryTwo %>" required>
                </div>

                <div class="form-group">
                    <label for="languageTextField">Language:</label>
                    <input Name="language" type="text" class="form-control" id="languageTextField" 
                            placeholder="語言" value="<%= resource.language %>" required>
                </div>

                <div class="form-group">
                    <label for="introductionTextField">Introduction:</label>
                    <textarea Name="introduction" class="form-control" id="introductionTextField" 
                            placeholder="详细介绍" value="<%= resource.introduction %>" required><%= resource.introduction %></textarea>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label for="promoCheckbox">
                        <input type="checkbox" Name="promo" <%= resource.promo === true ? "checked" : "" %> id="promoCheckbox" value="true"> 推广
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            </div>
    </div>
</div>

<!-- Body Container End-->
<% include ../partials/footer.ejs %>