<!--contact.ejs-->
<% include ../partials/header.ejs %>
<% include ../partials/navigationBar.ejs %> 

<!-- Body Container -->
<div class="container">
    <h2><%= title %></h2>
    <div class="row">
        <!--Left  -->
     <div class="col-md-12">
        <a class="btn btn-success" href="/dashboard/addTreasure/<%= resource._id %>"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Treasure</a>
        <a href="/dashboard" class="btn btn-primary"><i class="fa fa-undo"></i> Back</a>
     </div>
     <div class="col-md-12 topGap">
        <table class="table table-hover">
            <tr  class="bg-success  text-success">
                <th>题目</th>
                <th>演讲人</th>
                <th>排序</th>
                <th>类别</th>
                <th>创建时间</th>
                <th></th>
                <th></th>
            </tr>
            <% for (let count = 0; count < resource.treasures.length; count++) { %>
            <tr class="text-primary">
                <td><%= resource.treasures[count].title %></td>
                <td><%= resource.treasures[count].presenter %></td>
                <td><%= resource.treasures[count].sortNumber %></td>
                <td><%= resource.treasures[count].type %></td>
                <td><%= resource.treasures[count].createDate %></td>
                <td class="text-center"><a class="btn btn-primary" href="/dashboard/treasure/<%= resource._id %>/<%= resource.treasures[count]._id %>" role="button"><i class="fa fa-pencil-square-o"></i> 修改</a></td>
                <td class="text-center"><a class="btn btn-danger" href="/dashboard/treasure/delete/<%= resource._id %>/<%= resource.treasures[count]._id %>" role="button"><i class="fa fa-trash-o"></i> 删除</a></td>
            </tr>
            <% } %>
            </table>
     </div>
     <!--End Left -->                     
        <!--Right  -->           
        <div class="col-md-4">

        </div>
        <!--End Right -->           
    </div>
</div>
<% include ../partials/footer.ejs %>